#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" second="60 seconds">
    <!--name 是在logback中引用的名字, source是spring的properties名字-->
    <!--<springProperty scope="context" name="application.name" source="application.name"/>-->

    <!--name 是在logback中引用的名字, value 里的占位符是maven打包时替换的-->
    <!--<property name="spring.logback.access.pattern" value="${symbol_dollar}{spring.logback.access.pattern}"/>-->

    <!--如需使用彩色日志，引入此文件，或拷贝该文件的conversionRule标签配置项，彩色日志可能会串行-->
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->

    <springProperty scope="context" name="log.home" source="log.home" />
    <springProperty scope="context" name="log.level" source="log.level" />
    <springProperty scope="context" name="log.charset" source="application.charset" defaultValue="utf-8" />
    <springProperty scope="context" name="application.name" source="application.name" />
    <springProperty scope="context" name="spring.logback.access.max.history" source="spring.logback.access.max.history" defaultValue="3" />
    <springProperty scope="context" name="spring.logback.access.max.file.size" source="spring.logback.access.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="spring.logback.access.pattern" source="spring.logback.access.pattern" />
    <springProperty scope="context" name="spring.logback.error.max.history" source="spring.logback.error.max.history" defaultValue="7" />
    <springProperty scope="context" name="spring.logback.error.max.file.size" source="spring.logback.error.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="spring.logback.error.pattern" source="spring.logback.error.pattern" />
    <springProperty scope="context" name="spring.logback.info.max.history" source="spring.logback.info.max.history" defaultValue="3" />
    <springProperty scope="context" name="spring.logback.info.max.file.size" source="spring.logback.info.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="spring.logback.info.pattern" source="spring.logback.info.pattern" />
    <springProperty scope="context" name="spring.logback.application.max.history" source="spring.logback.application.max.history" defaultValue="3" />
    <springProperty scope="context" name="spring.logback.application.max.file.size" source="spring.logback.application.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="spring.logback.application.pattern" source="spring.logback.application.pattern" />
    <springProperty scope="context" name="spring.logback.sql.max.history" source="spring.logback.sql.max.history" defaultValue="7" />
    <springProperty scope="context" name="spring.logback.sql.max.file.size" source="spring.logback.sql.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="spring.logback.sql.pattern" source="spring.logback.sql.pattern" />
    <springProperty scope="context" name="spring.logback.console.pattern" source="spring.logback.console.pattern" />
    <springProperty scope="context" name="spring.logback.history.suffix" source="spring.logback.history.suffix" defaultValue=".log" />

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{log.home}/access.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${symbol_dollar}{log.home}/access.log.%d{yyyy-MM-dd}-%i</FileNamePattern>
            <maxHistory>${symbol_dollar}{spring.logback.access.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${symbol_dollar}{spring.logback.access.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.access.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.error.%d{yyyy-MM-dd}-%i${symbol_dollar}{spring.logback.history.suffix}</FileNamePattern>
            <maxHistory>${symbol_dollar}{spring.logback.error.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${symbol_dollar}{spring.logback.error.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.error.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.info.%d{yyyy-MM-dd}-%i${symbol_dollar}{spring.logback.history.suffix}</FileNamePattern>
            <maxHistory>${symbol_dollar}{spring.logback.info.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${symbol_dollar}{spring.logback.info.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.info.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${symbol_dollar}{log.home}/${symbol_dollar}{application.name}.%d{yyyy-MM-dd}-%i${symbol_dollar}{spring.logback.history.suffix}</FileNamePattern>
            <maxHistory>${symbol_dollar}{spring.logback.application.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${symbol_dollar}{spring.logback.application.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${symbol_dollar}{log.level}</level>
        </filter>
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.application.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{log.home}/sql.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${symbol_dollar}{log.home}/sql.%d{yyyy-MM-dd}-%i${symbol_dollar}{spring.logback.history.suffix}</FileNamePattern>
            <maxHistory>${symbol_dollar}{spring.logback.sql.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${symbol_dollar}{spring.logback.sql.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${symbol_dollar}{log.level}</level>
        </filter>
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.sql.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${symbol_dollar}{spring.logback.console.pattern}</pattern>
            <charset>${symbol_dollar}{log.charset}</charset>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root>
            <appender-ref ref="CONSOLE" level="${symbol_dollar}{log.level}"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <logger name="access" additivity="false">
            <level value="info"/>
            <appender-ref ref="ACCESS"/>
        </logger>

        <logger name="mapper" additivity="false">
            <level value="${symbol_dollar}{log.level}"/>
            <appender-ref ref="SQL"/>
        </logger>

        <root>
            <appender-ref ref="APPLICATION" level="${symbol_dollar}{log.level}"/>
            <appender-ref ref="ERROR" level="ERROR"/>
        </root>
    </springProfile>

</configuration>